@font-face {
  font-family: "Text-Regular";

  src: url('/fonts/Inter-Regular.woff') format("woff");
}
@font-face {
  font-family: "Text-Medium";

  src: url('/fonts/Inter-Medium.woff') format("woff");
  font-weight: 400;
}
@font-face {

  font-family: "Text-SemiBold";
  src: url('/fonts/Inter-SemiBold.woff') format("woff");
}
@font-face {
  font-family: "Text-Bold";
  src: url('/fonts/Inter-Bold.woff') format("woff");
}

@font-face {
  font-family: "number-Regular";

  src: url('/fonts/Lato-Light.woff') format("woff");
}
@font-face {
  font-family: "number-Medium";

  src: url('/fonts/Lato-Regular.woff') format("woff");

}
@font-face {

  font-family: "number-SemiBold";
  src: url('/fonts/Lato-Bold.woff') format("woff");
}
@font-face {
  font-family: "number-Bold";
  src: url('/fonts/Lato-Black.woff') format("woff");
}

*{box-sizing: border-box;}
::-webkit-scrollbar {
  overflow: auto;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  font-size: 14px;
  -moz-appearance: textfield;
}
input[type="otp"]:focus-visible {
  border-radius: 1;
  border-color:  var(--Electric-Green-Primary, rgba(235, 255, 37, 1))
}
input[type="otp"]{
  width: 40px !important;
  height: 40px;
  background-color: transparent;
  border: 1px solid rgba(41, 41, 46, 1);
  border-radius: 6px;

  margin-right: 10px;
  color: white
}
/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 0px;
}
input:focus-visible {
  outline: none;
}
/* Track */
::-webkit-scrollbar-track {
/* background-color: transparent; */
  
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 40px;
}
body{
  margin: 0;
  background-color: black;
}
/* Handle on hover */
::selection {
  color: black;
  background-color: #a9a9a9;
}
