
@font-face {
  font-family: "Neurial-Light";
  src: url('/font/NeurialGrotesk-Light.woff') format("woff");

}
@font-face {
  font-family: "Neurial-Regular";

  src: url('/font/NeurialGrotesk-Regular.woff') format("woff");
}
@font-face {
  font-family: "Neurial-Medium";

  src: url('/font/NeurialGrotesk-Regular.woff') format("woff");
  font-weight: 500;
}
@font-face {

  font-family: "Neurial-SemiBold";
  src: url('/font/NeurialGrotesk-Bold.woff') format("woff");
}
@font-face {
  font-family: "Neurial-Bold";

  src: url('/font/NeurialGrotesk-Extrabold.woff') format("woff");
}
.theme-dark:root {
    --tv-color-platform-background: #1B1B1F;
    --tv-color-pane-background: #1B1B1F;
    --tv-color-pane-background-secondary: #1B1B1F;
    --tv-color-toolbar-button-text: #B1B1BA;
    --tv-color-toolbar-button-text-active:#e2ff6f;
    --tv-color-toolbar-button-text-active-hover:#e2ff6f;
}
html.theme-dark .customButton-OOd_B2x2 ,.toolbar-uWw2aReP{
  color: #B1B1BA;
  font-size: 12px;
}
*{
  font-feature-settings:"normal";
}
body{
  font-family: "Neurial-Regular";
  letter-spacing: 0.7px;
  font-feature-settings:"normal";
}
/* top bar */
.series-G1_Pfvwd .titleWrapper-G1_Pfvwd {
  font-size: 14px;
}
.value-Os5mxnuv {
  font-size: 12px;
  text-align: left;
}
.toolbar-OOd_B2x2 {
  font-size: 13px;
  height: 100%;
  padding: 0;
  position: relative;
}
/* icon */
.wrap-qKQlcmkd svg ,.icon-RhC5uhZw svg{
  height: 24px;
  display: block;
}
.item-G1_Pfvwd,.item-Jc9IXW74 {
  
  font-size: 12px;

}

/* sidebar icons */
.button-mOEOjod4 .icon-mOEOjod4 svg {
  vertical-align: middle;
  width: 20px;
}
html.theme-dark .menuWrap-biWYdsXC {
  background-color: #0E0E0F;
  /* box-shadow:0 2px 4px #0006; */
}
html.theme-dark .item-RhC5uhZw {
  font-size: 12px;
  background-color: #0E0E0F;

}
html.theme-dark .item-RhC5uhZw.isActive-RhC5uhZw:hover {
  background-color: rgba(255, 255, 255, 0.08);
}
html.theme-dark .item-RhC5uhZw.isActive-RhC5uhZw,html.theme-dark .item-RhC5uhZw.isActive-RhC5uhZw:active {
  background-color: rgba(255, 255, 255, 0.08);
}
